# This file is a part of MRNIU/smccc
# (https://github.com/MRNIU/smccc).
#
# .gitignore for MRNIU/smccc.

.DS_Store
build_aarch64
build_riscv64
build_x86_64
doc/html
.gdbinit
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
.idea
Doxyfile
.gdbinit

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
build
